﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Contact:</strong> <a href="mailto:Matt.Eland@gmail.com">Matt Eland</a><br />
</address>
