﻿@using MVC_EF_Practice.Services
@model MVC_EF_Practice.Models.Ship
@inject FactionRepository FactionRepo

@{
  ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Ship</h4>
<hr/>
<div class="row">
  <div class="col-md-4">
    <form asp-action="Edit">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input type="hidden" asp-for="Id"/>
      <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="FactionId" class="control-label"></label>
        <select asp-for="FactionId"
                asp-items="@FactionRepo.GetFactions().Select(f => new SelectListItem() {Value = f.Id.ToString(), Text = f.Name, Selected = f.Id == Model.FactionId})">
        </select>
        <span asp-validation-for="Faction" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default"/>
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}